@model Pd2ViewModel

@{
    ViewData["Title"] = "Pedido | Cadete";
}

<h1>@ViewBag.estado:</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>ID Pedido</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.id_pd2</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Observacion Pedido</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.obs</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Nombre Cliente</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.cli_nom</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Estado Pedido</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Enum.GetName(typeof(Pedido.Estados),Model.estado)</p>
        </dd>
    </dl>
</div>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Id Cadete</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@ViewBag.cdtElegido.id</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Nombre</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@ViewBag.cdtElegido.nombre</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Domicilio</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@ViewBag.cdtElegido.domicilio</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Teléfono</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@ViewBag.cdtElegido.telefono</p>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">Ir a Inicio</a>
</div>

