@model MvcCadeteria.ViewsModels.AltaPd2ViewModel
@{
    ViewData["Title"] = "Pedido | Nuevo";
}

<h1>Alta nuevo Pedido</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.detalle_pedido" class="control-label"></label>
                <input asp-for="@Model.detalle_pedido" class="form-control" />
                <span asp-validation-for="@Model.detalle_pedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.estado_pedido" class="control-label"></label>
                <input asp-for="@Model.estado_pedido" class="form-control" />
                <span asp-validation-for="@Model.estado_pedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.nombre_cliente" class="control-label"></label>
                <input asp-for="@Model.nombre_cliente" class="form-control" />
                <span asp-validation-for="@Model.nombre_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Direccion" class="control-label"></label>
                <input asp-for="@Model.Direccion" class="form-control" />
                <span asp-validation-for="@Model.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Numero" class="control-label"></label>
                <input asp-for="@Model.Numero" class="form-control" />
                <span asp-validation-for="@Model.Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Telefono" class="control-label"></label>
                <input asp-for="@Model.Telefono" class="form-control" />
                <span asp-validation-for="@Model.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.detalle_direccion" class="control-label"></label>
                <input asp-for="@Model.detalle_direccion" class="form-control" />
                <span asp-validation-for="@Model.detalle_direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
