
@model List<Pd2ViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Alta Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Id Pedido</p>
            </th>
            <th>
                <p>Observacion Pedido</p>
            </th>
            <th>
                <p>Id Cliente</p>
            </th>
            <th>
                <p>Id Cadete</p>
            </th>
            <th>
                <p>Estado Pedido</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.id_pd2</p>
            </td>
            <td>
                <p>@item.obs</p>
            </td>
            <td>
                <p>@item.id_cli</p>
            </td>
            <td>
                <p>@item.id_cdt</p>
            </td>
            <td>
                <p>@item.estado</p>
            </td>
            <td>
                <a asp-action="Detalle" asp-route-id="@item.id_pd2">Detalles</a> |
                <a asp-action="Edit" asp-route-id="@item.id_pd2">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.id_pd2">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
