@model List<Pd2ViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Pedidos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Alta Pedido</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Id Pedido</p>
            </th>
            <th>
                <p>Pedido</p>
            </th>
            <th>
                <p>Cliente</p>
            </th>
            <th>
                <p>Cadete</p>
            </th>
            <th>
                <p>Estado</p>
            </th>
            <th>
                <p>Acción</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.id_pd2</p>
            </td>
            <td>
                <p>@item.obs</p>
            </td>
            <td>
                <p>@item.cli_nom</p>
            </td>
            <td>
                @if(item.id_cdt==0)
                {
                    <p>Sin Cadete</p>
                    @* <a asp-action="AsignarCdt" asp-route-id="@item.id_pd2">Agregar Cadete</a> *@
                }else{
                    <p>@item.cdt_nom</p>
                }
            </td>
            <td>
                <p>@Enum.GetName(typeof(Pedido.Estados),item.estado)</p>
            </td>
            <td>
                <a asp-action="AsignarCdt" asp-route-id="@item.id_pd2">
                    @if(item.id_cdt==0){<p>Agregar Cadete</p>}else{<p>Cambiar Cadete</p>}</a>
                <a asp-action="Detalle" asp-route-id="@item.id_pd2">Info</a> |
                <a asp-action="Edit" asp-route-id="@item.id_pd2">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.id_pd2">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
