@model CdtViewModel

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Cadete</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Id</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.id</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Nombre</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.nombre</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Calle</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.calle</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Numero</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.numero</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Telefono</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.telefono</p>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
