@model MvcCadeteria.ViewModels.EditarCdtViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Cadete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.id" />
            <div class="form-group">
                <label asp-for="@Model.nombre" class="control-label" ></label>
                <input asp-for="@Model.nombre" class="form-control" value="@Model.nombre"/>
                <span asp-validation-for="@Model.nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.calle" class="control-label"></label>
                <input asp-for="@Model.calle" class="form-control" value="@Model.calle"/>
                <span asp-validation-for="@Model.calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.numero" class="control-label"></label>
                <input asp-for="@Model.numero" class="form-control" value="@Model.numero"/>
                <span asp-validation-for="@Model.numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.telefono" class="control-label"></label>
                <input asp-for="@Model.telefono" class="form-control" value="@Model.telefono"/>
                <span asp-validation-for="@Model.telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
