
@model List<CdtViewModel>

@{
    ViewData["Title"] = "Index";
    //Console.WriteLine("Id     |Nombre      |domicilio     |telefono   ");
}

<h1>LISTADO DE CADETES</h1>

<p>
    <a asp-action="Create">Alta Cadete</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Id</p>
            </th>
            <th>
                <p>Nombres</p>
            </th>
            <th>
                <p>Domicilio</p>
            </th>
            <th>
                <p>Telefono</p>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p>@item.id</p>
            </td>
            <td>
                <p>@item.nombre</p>
            </td>
            <td>
                <p>@item.domicilio</p>
            </td>
            <td>
                <p>@item.telefono</p>
            </td>
            <td>
                <a asp-action="Info" asp-route-id="@item.id">Info</a> |
                <a asp-action="Editar" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
