@model CdtViewModel

@{
    ViewData["Title"] = "Información";
}

<h1>Información del Cadete</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Id</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.id</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Nombre</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.nombre</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Domicilio</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.domicilio</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Teléfono</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Model.telefono</p>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
